.header {
    background-color: blue;
    color: white;
    padding: 4px;
    text-align: center;
}
.container {
    border: 2px solid;
}

.data {
    text-align: center;
    border-bottom: 2px solid;
}

.data.active {
    background-color: lightblue;
}

.data div {
    margin: 5px 0;
    text-align: center;
}

.data div:first-child {
    padding: 0;
}

.data-wrapper {
    overflow: hidden;
    margin-left: -10px;
    padding: 0;
    height: 500px;
    overflow-y: scroll;
}

.button-wrapper {
    margin-top: 20px;
}

.button {
    display: inline-block;
    color: white;
    background-color: red;
    padding: 10px;
}

.parent {
    position: relative;
}

.parent:hover .child,  .parent:hover .arrow-down {
    display: block;
}

.child {
    position: absolute;
    display: none;
    background-color: #F8F8F8;
    left: 0;
    right: 0;
    bottom: 50px;
    color: #000000;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #E7E7E7;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E7E7E7;
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: none;
}

