<!DOCTYPE html>
<html lang="en" ng-app="stockUp">
<head>
    <meta charset="UTF-8">
    <title>Stock Up</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>

    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">

    <script src='./app.js'></script>

</head>
<body ng-controller="DashboardCtrl">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <nvd3 options='options' data='data'></nvd3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 container">
            <div class="row header">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " ng-class="getSortClasses(1)" >Time</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Open</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">High</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Low</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " ng-class="getSortClasses(2)" >Close</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Volume</div>
            </div>
            <div class="row data-wrapper">
                <div class="row data" ng-class="{'active': isActive(item.ts)}" ng-repeat="item in stockData | orderBy:orderRule">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.ts | date:'dd MMM yyyy'"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.open"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.high"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.low"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.close"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-bind="item.volume"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 button-wrapper">
            <div class="button">Get Historical</div>
            <div class="button">Subscribe</div>
            <div class="button">Unsubscribe</div>
            <div class="button parent">Sort Time(Up)
                <div class="child">
                    <div class="option " ng-bind="op.title" ng-repeat="op in userOptions" ng-click="sortBy(op.order)">Time (Down)</div>
                </div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
</body>
</html>